# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\UQ\2021 Sem 2\COMP3710\Report\report_repo\PatternFlow\recognition\s45890985_UNET3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
